<div class="pRight">
        
<div class="container row">
    <h1>Vision page</h1>

    <input [(ngModel)]="userIn">

    <button (click)="doVision()">Find Similar</button>
</div>
</div>
<!-- Each card -->
<div *ngFor="let kard of kards">

    <div class="col-md-3">
    </div>

        <div class="container row" style="width:100%;">
    
            <!-- Center -->
            <div class="col-md-6 kard">
    
              <h2>{{ kard.title }}</h2>
    
                  <!-- Img -->
                  <a href="{{ kard.url }}" target="_blank">
                    <img class="productImage center-block" src="{{ kard.image }}">
                  </a>
    
                  <!-- Deets -->
                  <p>
                    <a href="{{ kard.url }}" target="_blank"><h4>Price: ${{ kard.price }}</h4></a>
                  </p>
        
                </div>
    
            </div>
    
            <!-- Right -->
            <div class="col-md-3">
            </div>
    
</div>
