

<!-- Each card -->

<div class="container">
  <div class="row">
      <h1>Search page</h1>
      
      <input [(ngModel)]="userIn">
      
      <button (click)="doSearch()">Find Similar</button>
  </div>

  <div *ngFor="let kard of kards">
    
        <div class="row">
    
            <!-- Center -->
            <div class="col-md-6 kard">
    
              <h2>{{ kard.ProductName }}</h2>
            
                  <!-- Img -->
                  <a href="{{ kard.ProductLink }}" target="_blank">
                    <img class="productImage center-block"  src="{{ kard.ImageLink }}">
                  </a>
            

                </div>
    
            </div>
    
            <!-- Right -->
            <div class="col-md-3">
            </div>
    
  </div>
</div>
