<span class="kataLogo">Kata</span>

<a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
  <span class="navItem">Home</span>
</a>

<a [routerLink]="['/curator']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
  <span class="navItem" >Curators</span>
</a>


<a [routerLink]="['/vision']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
  <span class="navItem" >Image Recognition</span>
</a>

<a [routerLink]="['/search']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
  <span class="navItem" >Item Search</span>
</a>
