:host {
  display: block;
  padding: 0px;
  margin: 0px;
}

.cHeader {
  top: 0px;
  width: 100%;
  height: 240px;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.cHeader h1 {
  color: black;
  font-family: "Muli", sans-serif;
}

.cSidebar {
}

.cImage {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.kard {
  border: 1px solid #c4c8d1;
  padding: 30px;
  margin: 10px;
  border-radius: 5px;
}

.productBox {
  border: 1px solid #c4c8d1;
  margin: 10px;
  padding: 30px;
}

.productImage {
  display: inline;
  max-height: 300px;
  max-width: 300px;
}

.productImage.grayed {
  opacity: 0.5;
}

/*.h1.grayed {
  color: #c4c8d1;
}*/
