

<div class="cHeader center-block" [ngStyle]="{ 'background-image': 'url(' + c.coverImage + ')'}">
    <h1 style="text-align: center;">{{ c.name }}</h1>

    <img class="cImage center-block" src="{{c.image}}">

    <div class="whiteBlock"></div>
</div>

<div class="container">
  <div class="row">

<!-- Left -->
  <div class="cSidebar col-md-2">
    <p>{{ c.description }}</p>
  </div>


  <!-- Center -->
  <div class="col-md-8">

    <!-- Each card -->
    <div *ngFor="let kard of c.kards" class="kard">

      <h1 >{{ kard.title }}</h1>

      <p>{{ kard.description }}</p>

        <!-- Products -->
        <div *ngFor="let product of kard.products" class="productBox">
          <div class="row">
              <!-- Img -->
            <div class="col-md-6">
              <a href="{{ product.link }}">
                <img class="productImage center-block"  [ngClass]="{ grayed: product.status==false}" src="{{ product.image }}">
              </a>
            </div>
            <!-- Deets -->
            <div class="col-md-6">
              <h2>{{ product.title }}</h2>
            </div>

          </div>
        </div>

    </div>

  </div>

  <!-- Right -->
  <div class="col-md-2">
    right
  </div>

  </div>
</div>
