:host {
  display: block;
  padding: 0px;
  margin: 0px;
}

.cHeader {
  top: 0px;
  width: 100%;
  height: 240px;
  background-size: cover;
  margin: 0px;
  padding: 0px;
}

.cHeader h1 {
  color: black;
  font-family: "Muli", sans-serif;
}

.cSidebar {
}

.cImage {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
